<%- include('partiarls/headAndHeader.ejs') %>

<div class="panel">
    <div class="panelBox">       
            <nav class="panelNav">
                <a class= "<%= title.includes('Admin') ? 'active2' : null %>"  href="/panel">Panel</a>
                <a class= "<%= title.includes('Profesores') ? 'active2' : null %>"  href="/profesores">Profesores</a>
                <a class= "<%= title.includes('Alumnos') ? 'active2' : null %>"  href="/alumnos">Alumnos</a>
                <a class= "<%= title.includes('Clases-Panel') ? 'active2' : null %>"  href="/panel-clases">Clases</a>
            </nav>  
            <%  if(title == 'Admin') { %>
                <div class="dos">
                    <div class="uno">
                        <a href="/profesores" class="card1 education">
                            <div class="overlay"></div>
                        <div class="circle">
                        <img src="https://i.postimg.cc/LsmDJT1x/Dise-o-sin-t-tulo-9-unscreen.gif" alt="" width="90">
                        </div>
                        <p>Profesores: <%=profesor.length %></p>
                    </a>
                       <a href="/panel-clases" class="card1 credentialing">
                            <div class="overlay"></div>
                         <div class="circle">
                            <img src="https://i.postimg.cc/HLWjNSRD/Dise-o-sin-t-tulo-11-unscreen.gif" alt="" width="80">
                         </div>
                         <p>Clases de Baile : <%=clases.length %></p>
                       </a>
                       <a href="/alumnos" class="card1 human-resources">
                            <div class="overlay"></div>
                         <div class="circle">
                            <img src="https://i.postimg.cc/MpwRKGkw/Dise-o-sin-t-tulo-10-unscreen.gif" alt="" width="80">
                       
                         </div>
                         <p>Alumnos :<%=alumno.length %></p>
                       </a>
                    </div>
                    <div class="calendar-wrapper">
                        <button id="btnPrev"><img src="https://i.postimg.cc/nrBNm9BF/Dise-o-sin-t-tulo-12-unscreen.gif" alt="" width="20"></button>
                            <button id="btnNext"><img src="https://i.postimg.cc/wjwJzWZz/Dise-o-sin-t-tulo-13-unscreen.gif" alt="" width="20"></button>
                        <div id="divCal"></div>
                      </div>
                </div>
                <%   } %>
                <% if(title == 'Profesores'){ %>
                    <div class="dos">
                        <div class="cajita1">
                            <h4>Lista de Profes:</h4>
                            <% profesor.map(profe=> { %>
                              <div class="profe">
                                <p>Nombre: <%=profe.nombre %></p>
                                  <p>DNI: <%=profe.dni %></p>
                                  <p>Contacto: <%=profe.contacto %></p>
                                  <p>Direcci贸n: <%=profe.direccion %></p>
                                  <p>Clase: <%=profe['clase.nombre']%></p>
                                  <div class="editarBorrar">
                                    <a href="/editar/<%= profe.id %>"><img
                                      src="https://i.postimg.cc/PxZ58k8v/Dise-o-sin-t-tulo-33.png"
                                      alt="flecha" width="25"></a>
                              <a href="/borrar/<%= profe.id %>"><img
                                      src="https://i.postimg.cc/jjK89hZm/Dise-o-sin-t-tulo-1.gif" alt="flecha" width="25">
                              </a>
                                  </div>
                              </div>
                            <% }) %>
                        </div>
                        <form action ="/agregar-profesor" method="POST" class="login-form">
                            <h3><%= editarDatos ? 'Editar Datos del Profesor' : 'Agregar Profesor '%></h3>
                            <div class="form-input-material">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" autocomplete="off" class="form-control-material" value="<%= editarDatos ? editarDatos.nombre : '' %>" required />
                            </div>
                            <div class="form-input-material">
                                <label for="dni">DNI</label>
                                <input type="number" name="dni" autocomplete="off" class="form-control-material" value="<%= editarDatos ? editarDatos.dni : '' %>" required />
                            </div>
                            <div class="form-input-material">
                                <label for="direccion">Direcci贸n</label>
                                <input type="text" name="direccion" autocomplete="off" class="form-control-material" value="<%= editarDatos ? editarDatos.direccion : '' %>" required />
                            </div>
                            <div class="form-input-material">
                                <label for="contacto">Contacto</label>
                                <input type="text" name="contacto"  autocomplete="off" class="form-control-material" value="<%= editarDatos ? editarDatos.contacto : '' %>" required />
                            </div> 
                            <div class="form-input-material">
                                <label for="select">Clase</label>
                                <select name="clase" >
                                    <% clases.map(clase =>{ %>
                                      <option value='<%=clase.id %>' ><%=clase.nombre %></option>
                                  <% }) %>
                                    
                                </select>
                            </div>
                            <input type="hidden" name="id" value="<%= editarDatos ? editarDatos.id : '' %> ">
                            <button type="submit" class="btn btn-primary btn-ghost">Enviar</button>
                        </form>
                    </div>
                <% } %>
                <% if(title == 'Alumnos'){ %>
                <div class="dos">
                    <form action="/agregar-alumno" method="POST" class="login-form">
                      <h3><%= editarDatos ? 'Editar Datos del Alumno' : 'Agregar Alumno '%></h3>
                        <div class="form-input-material">
                          <label for="nombre">Nombre</label>
                          <input type="text" name="nombre" autocomplete="off" class="form-control-material" value="<%= editarDatos ? editarDatos.nombre : '' %>" required />
                      </div>
                      <div class="form-input-material">
                          <label for="dni">DNI</label>
                          <input type="number" name="dni" autocomplete="off" class="form-control-material" value="<%= editarDatos ? editarDatos.dni : '' %>" required />
                      </div>
                      <div class="form-input-material">
                          <label for="direccion">Direcci贸n</label>
                          <input type="text" name="direccion" autocomplete="off" class="form-control-material" value="<%= editarDatos ? editarDatos.direccion : '' %>" required />
                      </div>
                      <div class="form-input-material">
                          <label for="contacto">Contacto</label>
                          <input type="text" name="contacto"  autocomplete="off" class="form-control-material" value="<%= editarDatos ? editarDatos.contacto : '' %>" required />
                      </div> 
                        <div class="form-input-material">
                          <label for="select">Clase</label>
                          <select name="profesor" required>
                              <% profesor.map(profe =>{ %>
                                <option value='<%=profe.id %>' ><%=profe.nombre %></option>
                            <% }) %>
                          </select>
                        </div>
                        <input type="hidden" name="id" value="<%= editarDatos ? editarDatos.id : '' %>">
                        <button type="submit" class="btn btn-primary btn-ghost">Enviar</button>
                    </form>
                    <div class="cajita1">
                        <h4>Lista de Alumnos:</h4>
                        <% alumno.map(alu=> { %>
                          <div class="profe">
                            <p>Nombre: <%=alu.nombre %></p>
                              <p>DNI: <%=alu.dni %></p>
                              <p>Contacto: <%=alu.contacto %></p>
                              <p>Direcci贸n: <%=alu.direccion %></p>
                              <p>Profesor: <%=alu['profesore.nombre']%></p>
                              <div class="editarBorrar">
                                <a href=""><img
                                  src="https://i.postimg.cc/PxZ58k8v/Dise-o-sin-t-tulo-33.png"
                                  alt="flecha" width="25"></a>
                          <a href="/borrar-alumno/<%= alu.id %>"><img
                                  src="https://i.postimg.cc/jjK89hZm/Dise-o-sin-t-tulo-1.gif" alt="flecha" width="25">
                          </a>
                              </div>
                          </div>
                        <% }) %>
                    </div>
              <% } %>
              <% if(title == 'Clases-Panel'){ %>
                <div class="cuatro">
                  <% profesor.map(profe => { %>
                    <a class="card1 education">
                      <div class="tres">
                          <p>Clase: <%=profe['clase.nombre'] %></p>
                          <p>Profe: <%=profe.nombre %></p>
                          <ul>Alumnos: 
                            <% alumno.map(alu => { %>
                              <% if(profe.nombre == alu['profesore.nombre']){ %>
                                  <li><%=alu.nombre %></li>
                              <% } %>
                          <% }) %>
                          </ul>
                      </div>
                      <img src="https://i.postimg.cc/J0ncmSMV/MO-removebg-preview.png" alt="" width="100">
                  </a>
                
                <%   }) %>
              <% } %>
            </div>
    </div>
</div>
<script>
    var Cal = function(divId) {
this.divId = divId;
this.DaysOfWeek = [
  'Dom',
  'Lun',
  'Mar',
  'Mie',
  'Jue',
  'Vie',
  'Sab'
];

this.Months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Dicembre' ];
var d = new Date();

this.currMonth = d.getMonth();
this.currYear = d.getFullYear();
this.currDay = d.getDate();

};

// Goes to next month
Cal.prototype.nextMonth = function() {
if ( this.currMonth == 11 ) {
  this.currMonth = 0;
  this.currYear = this.currYear + 1;
}
else {
  this.currMonth = this.currMonth + 1;
}
this.showcurr();
};

Cal.prototype.previousMonth = function() {
if ( this.currMonth == 0 ) {
  this.currMonth = 11;
  this.currYear = this.currYear - 1;
}
else {
  this.currMonth = this.currMonth - 1;
}
this.showcurr();
};

Cal.prototype.showcurr = function() {
this.showMonth(this.currYear, this.currMonth);
};

Cal.prototype.showMonth = function(y, m) {
var d = new Date()
, firstDayOfMonth = new Date(y, m, 1).getDay()
, lastDateOfMonth =  new Date(y, m+1, 0).getDate()

, lastDayOfLastMonth = m == 0 ? new Date(y-1, 11, 0).getDate() : new Date(y, m, 0).getDate();


var html = '<table>';

html += '<thead><tr>';
html += '<td colspan="7">' + this.Months[m] + ' ' + y + '</td>';
html += '</tr></thead>';



html += '<tr class="days">';
for(var i=0; i < this.DaysOfWeek.length;i++) {
  html += '<td>' + this.DaysOfWeek[i] + '</td>';
}
html += '</tr>';


var i=1;
do {

  var dow = new Date(y, m, i).getDay();


  if ( dow == 0 ) {
    html += '<tr>';
  }

  else if ( i == 1 ) {
    html += '<tr>';
    var k = lastDayOfLastMonth - firstDayOfMonth+1;
    for(var j=0; j < firstDayOfMonth; j++) {
      html += '<td class="not-current">' + k + '</td>';
      k++;
    }
  }


  var chk = new Date();
  var chkY = chk.getFullYear();
  var chkM = chk.getMonth();
  if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
    html += '<td class="today">' + i + '</td>';
  } else {
    html += '<td class="normal">' + i + '</td>';
  }

  if ( dow == 6 ) {
    html += '</tr>';
  }

  else if ( i == lastDateOfMonth ) {
    var k=1;
    for(dow; dow < 6; dow++) {
      html += '<td class="not-current">' + k + '</td>';
      k++;
    }
  }

  i++;
}while(i <= lastDateOfMonth);


html += '</table>';

document.getElementById(this.divId).innerHTML = html;
};


window.onload = function() {
var c = new Cal("divCal");			
c.showcurr();

getId('btnNext').onclick = function() {
  c.nextMonth();
};
getId('btnPrev').onclick = function() {
  c.previousMonth();
};
}

function getId(id) {
return document.getElementById(id);
}
</script>